
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dop-your-dop-client-primary: mat.define-palette(mat.$grey-palette, 900);
$dop-your-dop-client-accent: mat.define-palette(mat.$yellow-palette, A100);

$dop-your-dop-client-warn: mat.define-palette(mat.$red-palette);

$dop-your-dop-client-theme: mat.define-light-theme((
  color: (
    primary: $dop-your-dop-client-primary,
    accent: $dop-your-dop-client-accent,
    warn: $dop-your-dop-client-warn,
  )
));

@include mat.all-component-themes($dop-your-dop-client-theme);

:root{
  --primary-color: #212121;
  --secondary-color: #faefb3;
}

@font-face {
  font-family: 'irish_grover';
  src: url('./assets/IrishGrover-Regular.ttf');
}

*{
  box-sizing: border-box;
  color: white; //to change
}

html, body { height: 100%; }

body { 
  margin: 0;
  font-family: irish_grover;
  background-color: var(--primary-color);
  color: #faefb3;
}

.primary-font{
  color: var(--primary-color);
  font-family: irish_grover;
}

.accent-button{
  border: 1px var(--secondary-color) solid !important;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

.primary-bg{
  padding: 1em 1em;
  border: 1px var(--secondary-color) solid !important;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

.padding-m{
  padding: 1em;
}

.container-accent-border{
  border: 1px #faefb3 solid;
}

.centre-child{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.w-50{
  width: 50%;
}

.d-flex-col{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.centre-self{
  margin-left:auto ;
  margin-right:auto ;
}