

<Section class="LForm">  
    <section class="TopLogo">
        <img src="../../assets/DopYourDopLogo.png" alt="Dop Your Dop Logo" id="Logo">
    </section>  
    <section class="Details">  
    <form [formGroup]="loginForm" (ngSubmit)="login()">     
            <input type="text" placeholder="Login" formControlName="username">
            <input type="text" placeholder="Password" formControlName="password">
            <button class="btn btn-primary">Login</button>
            <a routerLink="../register" >Register</a>
    </form>
    </section>
</Section> 
 

