<section style="background: #000; height: 20%; width: 100%; display: flex; justify-content: space-between;">
    <section style="margin-left: 5em; display: flex; flex-direction: column; margin-top: auto; margin-bottom: auto; gap: 1em;">
        <span *ngIf="headerConfig && headerConfig.headerText" style="font-family: irish_grover; font-size: 5em; color: white;" >
            {{headerConfig.headerText}}
        </span>
        <button 
            mat-stroked-button 
            color="accent" 
            class="accent-button" 
            style="width: fit-content; padding: 0px 2em; margin-left: auto; margin-right: auto;"
            *ngIf="headerConfig && headerConfig.buttonContent"
            (click)="actionButtonClicked.emit()">{{headerConfig.buttonContent}}</button>
    </section>
    <section>
        <img src="../../../assets/DopYourDopLogo.png" alt="logo" height="150" width="260">
    </section>
</section>